#body{
    padding: 0 10px 20px;
}

#page-title{
    margin: 0 0 25px 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
}
.sample{
    direction: ltr; /*this is the default direction, left to right*/
    direction: rtl; 
}

input{
    direction: rtl; /*this makes the cursor always stay on the left side(opposite from normal)*/
}