#body{
    padding: 0 10px 20px;
}

#page-title{
    margin: 0 0 25px 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
}

.fa-blue{
    color: blue;
    font-size: 80px;
}
.gh-purple{
    color: purple;
    font-size:80px;
}