#body{
    padding: 0 10px 20px;
}
#page-title{
    border-bottom:1px solid black;
    margin: 0 0 25px 0;
}
.para{
    text-transform:uppercase;
    text-transform:lowercase;
    text-transform: capitalize;
    text-transform: initial;
}